//- File: /views/about.pug

extends layout

block vars
  - var navHome = 'nav-item'
  - var navAbout = 'nav-item active'

block content
    h1(class="pageTitle") About
    p Smart Financial Research has a mission: to assist investors who have little to no investing experience. Out mantra is “Investors are made, not born.” Anyone with an inquiring mind and a desire to learn can master the basics of investing in stocks and bonds. The best time to begin investing is when you’re young, but it’s never too late to start!
    p We will regularly analyze stocks, bonds and the economy. Our news articles will keep you abreast of developments affecting investments. Our learning center will get you up to speed on common terms and concepts, all in easy-to-understand English.
    p There’s no room for personality cults or ego trips in helping people invest. It’s all about having effective and stimulating content, which helps readers familiarize themselves with market theory and practice, ask meaningful questions, and make informed investment decisions. Take control of your financial future today!
    p Smart Financial Research was founded by <a href="stephen">Stephen Smart.</a> This website was developed by <a href="alan">Alan</a>.
