//- File: /views/alan.pug

extends layout

block content
    h1(class="pageTitle") Alan
    p Alan is Smart Financial Research's software developer, copy editor, and social media manager. He studied IT at College of DuPage before transferring to Southern Illinois University Edwardsville, where he is currently an undergrad. He is majoring in computer science and minoring in peace & international studies.
    p Alan currently lives in Edwardsville, a suburb of St. Louis. He has previously lived in Louisville, Boston, and Chicago. Pretty soon, he is going to take a business administration course in China (in Shanghai, Hangzhou, and Beijing).
    //block scripts
    //    script(src="/javascripts/test.js")