//- File: /views/contact.pug

extends layout

block vars
  - var navHome = 'nav-item'
  - var navContact = 'nav-item active'

block content
    h1(class="pageTitle") Contact
    p For consulting services (or just questions or comments about the site’s content), email Stephen Smart at <a href="mailto:contact@smartfinancialresearch.com">contact@smartfinancialresearch.com</a>, or use the social media links below.
    //block scripts
    //    script(src="/javascripts/test.js")