//- File: /views/investing.pug

extends layout

block vars
  - var navHome = 'nav-item'
  - var navInvesting = 'nav-item active'

block content
    h1(class="pageTitle") Investing
    div(class="investingArticle")
        p
            h2(class="articleTitle") This is the title of the article
            div(class="firstSentence")
                h3 Here is the first sentence.
            div(class="authorAndDate")
                a(href="stephen") Stephen Smart, DD/MM/YYYY
            div(class="text-center")
                img(src="../images/placeholder.png", class="center-block", id="articlePhoto", alt="placeholder image")
        p First paragraph of the article goes here. This will be more text than the first sentence. The first sentence is the first sentence of the first paragraph. The text here is a continutation and does not include that same sentence.
            br
            a(href="#") Read more...
    div(class="investingArticle")
        p
            h2(class="articleTitle") This is the title of the article
            div(class="firstSentence")
                h3 Here is the first sentence.
            div(class="authorAndDate")
                a(href="stephen") Stephen Smart, DD/MM/YYYY
            div(class="text-center")
                img(src="../images/placeholder.png", class="center-block", id="articlePhoto", alt="placeholder image")
        p First paragraph of the article goes here. This will be more text than the first sentence. The first sentence is the first sentence of the first paragraph. The text here is a continutation and does not include that same sentence.
            br
            a(href="#") Read more...
    div(class="investingArticle")
        p
            h2(class="articleTitle") This is the title of the article
            div(class="firstSentence")
                h3 Here is the first sentence.
            div(class="authorAndDate")
                a(href="stephen") Stephen Smart, DD/MM/YYYY
            div(class="text-center")
                img(src="../images/placeholder.png", class="center-block", id="articlePhoto", alt="placeholder image")
        p First paragraph of the article goes here. This will be more text than the first sentence. The first sentence is the first sentence of the first paragraph. The text here is a continutation and does not include that same sentence.
            br
            a(href="#") Read more...
    div(class="investingArticle")
        p
            h2(class="articleTitle") This is the title of the article
            div(class="firstSentence")
                h3 Here is the first sentence.
            div(class="authorAndDate")
                a(href="stephen") Stephen Smart, DD/MM/YYYY
            div(class="text-center")
                img(src="../images/placeholder.png", class="center-block", id="articlePhoto", alt="placeholder image")
        p First paragraph of the article goes here. This will be more text than the first sentence. The first sentence is the first sentence of the first paragraph. The text here is a continutation and does not include that same sentence.
            br
            a(href="#") Read more...
    div(class="investingArticle")
        p
            h2(class="articleTitle") This is the title of the article
            div(class="firstSentence")
                h3 Here is the first sentence.
            div(class="authorAndDate")
                a(href="stephen") Stephen Smart, DD/MM/YYYY
            div(class="text-center")
                img(src="../images/placeholder.png", class="center-block", id="articlePhoto", alt="placeholder image")
        p First paragraph of the article goes here. This will be more text than the first sentence. The first sentence is the first sentence of the first paragraph. The text here is a continutation and does not include that same sentence.
            br
            a(href="#") Read more...
    div(class="investingPageSelection")
                  p
                    a(href="investing-archive") Older articles
    block fromDatabase
    //block scripts
    //    script(src="/javascripts/test.js")