//- File: /views/investing-archive.pug

extends layout

block content
    h1(class="pageTitle") Investing Archive
    p Here is where links to all the old news articles will be.
    //block scripts
    //    script(src="/javascripts/test.js")