//- File: /views/test.pug

extends layout

block content
    h1(class="pageTitle") Stephen Smart, Founder of Smart Financial Reseach
    p Mr. Smart began his career in investing in 1978 as an equity analyst for the State of Wisconsin Investment Board. In 1983 he became the #2 man in charge of the Investment Board’s bond portfolio. The portfolios he has helped manage over his career have outperformed their benchmarks by over $500 million.
    p Mr. Smart has worked for insurance companies, banks, brokerage firms, asset managers and investment advisers on both the buy side and the sell side. He has written investment newsletters and formed his own bond research firm. The common thread is the love of investing, the “great game” of adding value for retirees, annuitants, shareholders, high-yield bond investors, and many other groups of people dependent on the performance of financial assets.
    p Mr. Smart holds a B.A. in English from Harvard University and an M.S. in Finance, Investments & Banking from the Graduate School of Business, University of Wisconsin-Madison. He also is a Chartered Financial Analyst (CFA).
    //block scripts
    //    script(src="/javascripts/test.js")